---
layout: layouts/base.vto
bodyClass: body-supplement
---
<article class="supplement" data-pagefind-body>
  <div class="supplement-header">
    <h1 class="supplement-title">{{ title }}</h1>

  <div class="supplement-content">
    {{ content |> safe }}
  </div>
</article>
